*.bak
*.cmake
*.exe
*.o
*.user

.vs/
bin/*
build/*
html/*
lib/*
pvs/*
tasks/*
Testing/*

CMakeFiles/*
AD/CMakeFiles/*
Inverse/CMakeFiles/*
Math/CMakeFiles/*
MC/CMakeFiles/*
MC/Detector/CMakeFiles/*
Physics/CMakeFiles/*
Physics/Medium/CMakeFiles/*
Settings/CMakeFiles/*
Tests/CMakeFiles/*
Utils/CMakeFiles/*

main_admc
Tests/unit_tests*

strace_out
log

Makefile
CMakeCache.txt

