*.cmake
*.exe
*.o
*.user

.vs/
bin/*
build/*
html/*
lib/*
pvs/*
tasks/*
Testing/*


CMakeFiles/*
AD/CMakeFiles/*
Physics/CMakeFiles/*
Physics/Medium/CMakeFiles/*
Math/CMakeFiles/*
MC/CMakeFiles/*
Tests/CMakeFiles/*
Utils/CMakeFiles/*

main_ad
main_mc
main_admc
Tests/unit_tests

strace_out
log

Makefile
CMakeCache.txt
