*.user
*.o
*.cmake
*.exe

build/*
bin/*
lib/*
pvs/*
CMakeFiles/*
MCML/CMakeFiles/*
AD/CMakeFiles/*
Tests/CMakeFiles/*
.vs/

main_ad
main_mcml
Tests/unit_tests

strace_out
log
Makefile

CMakeCache.txt
